@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

input,
input:focus,
select,
select:focus,
textarea,
textarea:focus,
button,
button:focus,
[contenteditable="true"],
[contenteditable="true"]:focus {
	@apply outline-none;
}

table {
	@apply border-collapse;
}

[contenteditable="true"]:empty:not(:focus)::before {
	content: attr(data-placeholder);
	color: theme("colors.stone.400");
}

* {
	scrollbar-width: thin;
}
